:root {
  /* Colors */
  --primary: #0091ea;
  --primary-light: #7bbde6;
  --accent: #546e7a;
  --grey: #445;
  --error: #f52;
  --background: #f5f5f6;
  --white: #fff;
  --border: #99a;
  /* Sizes */
  --radius: 10px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 20px;
  --space-xl: 40px;
}

/* ------------------------------------------------------------------------ */
/* Micro reset */
/* ------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ------------------------------------------------------------------------ */
/* General styles */
/* ------------------------------------------------------------------------ */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin: var(--margin) 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: var(--margin);
}

input {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-sm);
  height: 40px;
  padding: var(--space-xs) var(--space-sm);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

input:focus {
  border-color: var(--primary);
  outline: 0;
}

label {
  color: var(--grey);
  text-transform: uppercase;
  font-size: 80%;
}

button {
  background-color: var(--primary);
  height: 40px;
  padding: var(--space-xs);
  color: var(--white);
  border: 0;
  border-radius: var(--radius);
  text-transform: uppercase;
  min-width: 100px;
}

button.alt {
  background-color: transparent;
  color: var(--primary);
}

button:hover {
  filter: brightness(115%);
  cursor: pointer;
}

button:focus {
  outline: none;
  border: 2px solid var(--grey);
}

.error {
  color: var(--error);
  padding: var(--space-xs);
}

.error:empty {
  display: none;
}

/* ------------------------------------------------------------------------ */
/* Login page */
/* ------------------------------------------------------------------------ */

.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  margin: var(--margin);
}

.logo {
  height: 80px;
  vertical-align: middle;
}

.login-page {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--primary), var(--primary-light));
}

.login-container {
  flex: auto;
  max-width: 400px;
  max-height: 100%;
  overflow: auto;
}

.login-content {
  background-color: var(--background);
  padding: var(--space-sm);
}

.login-separator {
  position: relative;
  top: 0.5em;
  border-top: 1px solid var(--border);
  opacity: .6;
  margin: var(--margin) 0;
}

.login-separator > span {
  position: relative;
  top: -0.5em;
  background-color: var(--background);
  padding: var(--space-sm);
}

/* ------------------------------------------------------------------------ */
/* Dashboard page */
/* ------------------------------------------------------------------------ */

header > h2 {
  margin: var(--space-sm);
}

.balance {
  background-color: var(--primary);
  text-align: center;
  height: 40px;
}

.balance > span {
  color: var(--white);
  background-color: var(--accent);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius);
  font-size: 4rem;
}

.dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  animation: slideFromTop 0.3s ease-in-out;
  justify-content: center;
  align-items: flex-start;
}

.dialog.show {
  display: flex;
}

@keyframes slideFromTop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.dialog-content {
  margin-top: var(--space-xl);
  background-color: var(--white);
  max-width: 600px;
  max-height: 100%;
  padding: var(--space-md);
}

/* ------------------------------------------------------------------------ */
/* Utilities */
/* ------------------------------------------------------------------------ */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.hide-xs {
  display: none;
}

/* ------------------------------------------------------------------------ */
/* Responsive adaptations */
/* ------------------------------------------------------------------------ */

@media only screen and (min-width: 400px) {
  .hide-xs {
    display: initial;
  }

  .login-content,
  .dialog-content {
    border-radius: var(--radius);
  }
}

@media only screen and (min-width: 768px) {

}

